<div style="text-align: center;">
  <img src="assets/slike/aranzman.png" style="width: 80px;">
</div>
<div><h1 style="text-align: center; color: olivedrab; margin-top: 0; font-size: 40px;">ARANŽMANI:</h1></div>

<div class="container mat-elevation-z8">

  <mat-table #table [dataSource]="dataSource" class="mat-table" matSort>

    <ng-container matColumnDef="id" style="">
      <mat-header-cell *matHeaderCellDef class="mat-cell" mat-sort-header>ID</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.id }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="ukupna_cena">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Ukupna Cena</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.ukupna_cena }} RSD</mat-cell>
    </ng-container>

    <ng-container matColumnDef="hotel">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Hotel</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.hotel.naziv }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="placeno">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Placeno</mat-header-cell>
      <mat-cell *matCellDef="let row" [style.color]= "row.placeno == true ? 'yellowgreen' : 'red' ">
          {{row.placeno ? 'DA' : 'NE'}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="datum_realizacije">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Datum</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.datum_realizacije }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="agencija">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Agencija</mat-header-cell>
      <mat-cell *matCellDef="let row" style="color: greenyellow;">{{ row.agencija.naziv }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
          <button mat-icon-button style="color: rgb(255, 247, 3) !important;margin-left: 25px;" (click)="openDialog(1)">
            <mat-icon >add</mat-icon>
          </button>
        </mat-header-cell>
      <mat-cell *matCellDef="let row; let i = index">
        <button mat-icon-button style="color: yellowgreen !important;" (click)="openDialog(2, row.id, row.ukupna_cena, row.hotel, row.placeno, row.datum_realizacije, row.agencija)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="openDialog(3, row.id, row.ukupna_cena, row.hotel, row.placeno, row.datum_realizacije, row.agencija)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row style="cursor: pointer;" 
    *matRowDef="let row; columns: displayedColumns">
    </mat-row>
    
  </mat-table>
  <mat-paginator [length]="20" [pageSize]="3" [pageSizeOptions]="[3,6,9,12]" class="custom-paginator">
  </mat-paginator>
</div>
<div class="refresh">
  <a mat-raised-button (click)="refreshData()" class="button">Osveži</a>
</div>


